.card {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 15px;
	box-shadow: 4px 2px 4px;
	/* align-items: flex-start; */
}

.autor {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.post {
	width: 100%;
	height: 150px;
	border-bottom: 2px solid rgb(29, 28, 28);
}

.author {
}
.authorbox {
	display: flex;
	justify-content: left;
	flex-direction: row;
	align-items: flex-start;
}

.btn {
	align-items: center;
	text-align: center;
	max-width: 150px;
}
